
.contact-section {
    position: relative;
    padding: 100px 0;
}

.contact-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.contact-form .form-group:last-child {
    margin-bottom: 0;
}

.contact-form .form-group .input-outer {
    position: relative;
}

.contact-form .form-group .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    color: #dddddd;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="email"],
.contact-form .form-group input[type="url"],
.contact-form .form-group textarea,
.contact-form  select {
    position: relative;
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    padding: 15px 20px;
    border-bottom: 1px solid #e1e1e1;
    font-weight: 400;
    height: 60px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border: 0 ;
    color: #000;
}

.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus {
    border-color: #555;
    color: #000;
}

.contact-form .form-group textarea {
    height: 156px;
    resize: none;
}

.contact-form .form-group button {
    text-transform: capitalize;
}

.contact-form input.error:focus,
.contact-form select.error:focus,
.contact-form textarea.error:focus {
    border-color: #ff0000;
}

.contact-form label.error {
    display: block;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 24px;
    color: #ff0000;
    padding-top: 7px;
    margin-bottom: 0;
}
.theme-btn
{
    border: 0 ;
    border-radius: 40px;
}
